.upload {
  padding: 100px 0;
}

.upload .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.upload .wrapper .heading {
  font-size: 1.2rem;
}

.upload .wrapper .inputs-wrapper {
  display: flex;
  gap: 2rem;
}

.upload .wrapper .inputs-wrapper .left,
.upload .wrapper .inputs-wrapper .right {
  flex: 1;
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.upload-form input,
.upload-form textarea,
.upload-form .upload-image {
  padding: 0.5rem 0.8rem;
  margin-bottom: 1rem;
  font-size: 15px;
  outline: none;
  background-color: transparent;
  border-radius: var(--radius-03);
  border: 2px solid var(--white-tr05);
}

.upload-form .upload-image {
  display: flex;
  gap: 0.8rem;
  cursor: pointer;
}

.upload-form textarea {
  resize: none;
  min-height: 180px;
  max-height: 350px;
}

.upload-form button {
  padding: 0.5rem;
  font-size: 15px;
  font-weight: 500;
  color: var(--darkwhite);
  border: none;
  border-radius: var(--radius-03);
  background-color: var(--red);
  cursor: pointer;
}

.upload-form button:hover {
  background-color: var(--darkred);
}
