/* src/layout/sider/Sider.css */
.sider {
  height: 100vh;
  transition: width 0.3s;
}

.sider-menu {
  height: 100%;
}

.sider-collapsed {
  width: 80px;
}

.sider-expanded {
  width: 240px;
}

.main-container {
  display: flex;
}

.content {
  flex: 1;
  transition: margin-left 0s;
}
