/* src/pages/error/404/404.css */
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.error-page .ant-typography {
  margin-bottom: 20px;
}
