.admin-channels-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 20px;
}

.admin-channel-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease-in-out;
}

.admin-channel-card:hover {
  transform: scale(1.02);
}

.admin-channel-card img {
  width: 160px;
  height: 90px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.admin-channel-info {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.admin-channel-info h2 {
  font-size: 1.2rem;
  margin: 0;
}

.admin-channel-info h3 {
  font-size: 1rem;
  margin: 0;
}

.admin-channel-trash-icon {
  margin-left: auto;
  cursor: pointer;
}
